<footer>
  <a class="poison-control" href="https://poisons.co.nz/">Poison control</a>
  <div>
    <h3>
       If you have found yourself on this website, we have for you good and bad news. The good news is we get to show our web design skill, so Yay! The bad news is, well you may die...sad face, Haere mai or maybe Haere Ra (Goodbye)
    </h3>
  </div>
  
</footer>