{{#each poisons}}
  <div class="main-box {{class}}">
    <div class="main-image" >
      <a href="/poisons/{{id}}">
        <img class="main-poison" src="{{image}}" alt="Type of poison">
      </a>
    </div>
    
    <p class="home-label">
      {{name}}
    </p>
  </div>
  {{/each}}
  
  <div class="main-box nopoison ">
    
  </div>

  <div class="main-box addpoison">
    <div class="main-image">
     <a href="/poison/edit">
     <img class="main-poison" src="/images/addpoison.jpeg" alt="Blank poison">
     </a> 
    </div>
   
   <p class="home-label">
     Add your favourite poison
    </p>
  </div>