{{#each poisons}}
  <div class="{{class}}">
    <div class="main-image" >
      <img src="{{image}}" alt="Type of poison">
    </div>
    
    <p class="home-label">
      {{name}}
    </p>
  </div>
  {{/each}}
  
  <div class=" main-image nopoison ">
    
  </div>

  <div class=" main-image addpoison">
    <div class="main-image">
      <img  src="" alt="Blank poison">
    </div>
   
   <p class="home-label">

    </p>
  </div>