
<form class="form" action="/edit" method="post">
   
        <img src="/images/default.png" alt="?">
   <label for="name" class="form-item">
            Name:
            <input type="text" name="name" value="">
        </label>

    <div class="edit-name">
        
    </div>

    <div class="edit-symptoms">
        <label for="symptoms" class="form-item">
            Symptoms:
            <input type="text" name="symptoms" value="">
        </label>
    </div>

    <div>
        <input type="submit" name="" value="Submit">
    </div>
</form>