<div class="editpage">
{{>header}}
<form class="form" action="/edit" method="post">
   
    <img class="viewimage" src="/images/poison8.png" alt="?">

    <div class="edit-name">
        <input type="text" name="name" value="Name:">
    </div>

    <div class="edit-symptoms">
        <input type="text" name="symptoms" value="Symptoms:">
        <input class="button" type="submit" name="" value="Submit">

    </div>  

</form>
{{>footer}}

</div>
