
<div class="poison-page">
{{>header}}
  <div class="view-poison">
      <div>
        <img class="viewimage" src="{{image}}" alt="Picture of death">
      </div>
      <div class="symptoms">
        {{#each symptoms}}
          <p>{{this}}</p>
        {{/each}}
      </div>
  </div>
  {{>footer}}
</div>
