* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  }

body{
  background-color: rgb(2, 0, 0);
  display: grid;
  grid-template: 'header' 70px
    'main' auto
    'footer' 70px
  /90%;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
  grid-area: header
}

main{
  grid-area: main;
}

footer{
  grid-area: footer;
}

main{
  display: grid;
  grid-template: "mortein pest-off fecal-matter dont-recall" 150px
    "paint pull-request nopoison addpoison" 150px
  / 25% 25% 25% 25%;
  grid-gap: 5px;
}

.mortein{
  grid-area: mortein;
}

.pest-off{
  grid-area: pest-off;
}

.fecal-matter{
  grid-area: fecal-matter;
}

.dont-recall{
  grid-area: dont-recall;
}

.paint{
  grid-area: paint;
}

.pull-request{
  grid-area: pull-request;
}

.nopoison{
  grid-area: nopoison;
}

.addpoison{
  grid-area: addpoison;
}

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Typography */

header h1{
  color: rgb(168, 5, 5);
  font-size: 2em;
}

footer, h3{
  color: white;
}

/* Images */
.main-image{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em;
  width: 70px;
  height: 70px;
}

.main-poison{
  width: 100%;
  height: 100%;
}

.view-image{
  border-radius: 25px;
  border: 2px solid rgb(15, 27, 49);
  padding: 20px;     
  width: 7em;
  height: 7em;
  margin: auto auto;
}